---
import TextInput from "../UI/textInput.astro";
---

<div class="mt-10">
    <h3>I'm ready to talk</h3>
    <form>
        <TextInput name="Name" type="text" label="Name" />
        <TextInput name="email" type="email" label="Email" />
        <TextInput name="message" type="text-area" label="Message" />
    </form>
</div>
