<div class="flex justify-center w-full items-center text-sm text-stone-900 pb-4">
  <div class="flex flex-col">
    <p class="self-end">Designed with</p>
    <p class="self-end">Developed with</p>
  </div>
  <div class="p-2 text-3xl">❤️</div>
  <div class="flex flex-col ">
    <p class="self-start">
      by <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/fmontes"
        >Freddy Montes.
      </a>
    </p>
    <p class="self-start">by Daniel Ramírez.</p>
  </div>
</div>
