---
import ButtonMain from "../UI/buttons/ButtonMain.astro";
---

<div class="fixed top-0 right-0 left-0 max-w-5xl mx-auto z-50 h-14">
  <div class="flex justify-between items-center relative z-50 px-4 h-full">
    <div class="text-stone-800 font-extrabold text-4xl">DR</div>
    <div>
      <div><ButtonMain label="Back" link = "/" target="" ></ButtonMain></div>
    </div>
  </div>
</div>
